.blur {
   opacity: 0.8;
}

#page-wrapper {
}


@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
} 

.fonts {
	font-family: "Montserrat-Light";

}

.fonts a {
	font-size: 12px;
}

.page-header {
	height: 250px;
	background: gray;
	position: relative;
	margin-bottom: -20px;
	padding: 15px;
}

.page-title {
	position: absolute;
	left: 20px;
	bottom: 10px;
	color: #4fc3f7;
	font-family: "Montserrat-Regular";
}

.project-details {
	padding: 10px !important;
	color: white;
	margin-bottom: 30px;
}

.card-panel-custom {
	margin-top: 10px;
	height: 130px;
}

.parallax-custom {
	padding: 10px;
}

.input-field-custom {
	margin-top: 20px;
}

.round-bg {
	border-radius: 100%;
	width: 120;
	height: 120;
	padding: 25px;
	margin: 0 auto;
}

.margin-auto {
	margin: 0 auto;
	width: 45%;
}

.poll-container {
	position: relative;
}

.likes-container {
	position: relative;
	top: --20px;
	right: 100px;
}

.dislikes-container {
	position: relative;
	top: -20px;
	left: 140px;
}